@page "/"

<MList ThreeLine>
    @foreach(var i in PageResponse.Items)
    {
        <MListItem Class="home-list" OnClick="()=>OnClick(i)">
            <MListItemAvatar>
                <MImage Dark Src="@i.Author.Avatar"></MImage>
            </MListItemAvatar>

            <MListItemContent>
                <MListItemTitle>@i?.Title</MListItemTitle>

            </MListItemContent>

            <MListItemAction>
                <MButton Icon>
                    <MIcon Color="grey lighten-1">mdi-eye-circle</MIcon>
                    <span>@i.PageView</span>
                </MButton>
            </MListItemAction>
        </MListItem>

    }
</MList>

<style>

    .title {
    }

    .home-list {
        transition: 1s;
    }

        .home-list:hover {
            transition: 1s;
            border-radius: 10px;
            background-color: #2a4185;
        }
</style>